* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .cart-icon{
    display: flex;
    width: 90%;
    height: 40px;
    padding: 8px;
    border: 1px;
    color:  #411530;
    font-weight: 500;
    font-size: 28px;
  }

  .ppq{
     display: flex; 
     justify-content: space-between;
    width: 90%;
    height: 40px;
    gap: 64px; 
    padding: 8px; 
    border: dashed, 1px;
    
  }
  .pro-container{
    display: flex;
    row-gap: 20px;
  }

  .pro{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: #411530;
    
  }
  .pqt{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: #411530;
    justify-content: space-between;
  }