@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .mainn-main-cont{
    width: 100%;
    height: 100%;
   
  }
  
  .ship-pay-review-container{
    display: flex;
    width: 100%;
    background-color:  #D9D9D933;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: center;
    gap: 32px;
    
   
  }
  
  .ship-container{
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    color:#000000 ;
  }
  .paymentt-container{
    /* gap: 8px; */
   
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    color:#000000 ;
  }
  .revieww-container{
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    color:#000000 ;
  }
  .please-container{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 500;
    padding-top: 1%;
    
  }
  .agree-container{
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding-top: 0.5%;
     padding-bottom: 1%; 
   
  }
  .peee-main-container{
    padding-bottom: 2%;
    padding-left: 6%;
    padding-top: 2%;
  }
  
  .pe-container{
    display: flex; 
   justify-content: space-between;    
    width: 95%;
   
    border:1px solid #121212CC;
    border-radius: 12px;
   
    /* gap: 16px; */
    
    
    
    
  }
  .hold-two{
    padding-top: 1%;
    padding-bottom: 1%; 
    padding-left: 3%;  
  }
  .first-payment-cont{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 2%; 
     /* line-height: 20px;  */
    
  }
   .star-container{
    display: flex; 
    flex-direction: column;
    justify-content: left;
    font-size: 18px;
    font-weight: 500;
    padding-top: 3%;
    padding-left: 0%; 
    /* line-height: 20px; */
  } 
  .hold-dit-date{
    padding-top: 1%;
    padding-bottom: 1%; 
    padding-right: 3%;  
  } 
  .dit-cont{
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 2%;
    color: #121212CC; 
  
    
  } 
   .date-para{
    display: flex; 
    flex-direction: column;
    justify-content: right;
    font-size: 16px;
    font-weight: 500;
    padding-top: 3%;
  } 


  .ship-mainnn-container{
    padding-bottom: 2%;
    padding-left: 6%;
  }
  .main-ship--container{
    display: flex; 
    justify-content: space-between;    
     width: 95%;
     border:1px solid #000000;
     border-radius: 12px;
     
  }
  .hold-three{
    padding-top: 1%;
    padding-bottom: 1%; 
    padding-left: 3%;  
  }
  .shippp-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 2%; 
    
  } 
  .ame-cont{
    display: flex; 
    flex-direction: column;
    justify-content: left;
    font-size: 16px;
    font-weight: 600;
    padding-right: 84%;
    color: #121212 3%; 
  }
  .countryy-cont{
    display: flex; 
    flex-direction: column;
    justify-content: left;
    font-size: 16px;
    font-weight: 600;
    padding-top: 3%;
    padding-right: 84%;
    color: #121212 3%;
  }
  .hold-lawrence-cont{
    padding-top: 1%;
    padding-bottom: 1%; 
    padding-right: 1%;  
    /* padding-left: 80%; */
  }
  .hold-lawrence{
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 2%;
     color: #121212CC; 

  }
  .king{
    display: flex; 
    flex-direction: column;
    justify-content: right;
    font-size: 16px;
    font-weight: 500;
    padding-top: 3%;
    color:  #121212CC; 
  }
  .alba{
    display: flex; 
    flex-direction: column;
    justify-content: right;
    font-size: 16px;
    font-weight: 500;
    padding-top: 3%;
    color: #121212CC;  
  }
  
.order-maiiin-conta{
  padding-bottom: 2%;
    padding-left: 6%; 
}
  .order-container{
    display: flex; 
    justify-content: space-between;    
     width: 95%;
  } 
  .hold-four{
    padding-top: 1%;
    padding-bottom: 1%; 
    padding-left: 3%;  
  }
  .O-S{
  display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 3%;
    padding-top: 5%;
    gap: 16px;
}
  .sub-cont{
    display: flex; 
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    font-size: 24px;
    font-weight: 500;
    color: #121212CC; 
    padding-bottom: 3%;
    padding-top: 2%;
  }
  .dev-cont{
    display: flex; 
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    font-size: 24px;
    font-weight: 500;
    color: #121212CC; 
    padding-bottom: 3%;
    padding-top: 2%;
  }
  .grand-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    font-size: 24px;
    font-weight: 500;
    /* padding-bottom: 2%; */
    padding-top: 2%;
  }
  .three-holdd-cont{
    padding-top: 5%;
    padding-bottom: 2%; 
    padding-right: 1%;  
  }
  .price-one{
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 4%;
    padding-top: 2%;
     color: #121212CC;
  }
  .price-two{
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 24px;
    font-weight: 500;
    padding-top: 4%;
  }
  .btn-contaaaainer{
    display: flex;
    justify-content: center;
    padding-top: 4%;
  } 
  .subbbbmit-btn{
    background-color: #411530;
    height: 70px;
    width: 25%;
    line-height: 24px;
    font-size: 28px;
    font-weight: 600;
    color:#FFFFFF ;
    border-radius: 12px;
  }
  
  
  