@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ship-pay-re-container{
  display: flex;
  width: 100%;
  background-color:  #D9D9D933;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  gap: 32px;
 
}

.shipping-container{
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color:#000000 ;
}
.payment-container{
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color:#000000 ;
}
.review-container{
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color:#000000 ;
}
.choose-container{
    display: flex;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    color:  #121212;
    padding-top: 1%;
    padding-left: 5.8%;
  }
  .charged-container{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color:   #000000;
    padding-top: 1%;
    padding-left: 5.8%;
  }

  .cc-container{
    display: flex;
    height: 32px;
    font-size: 24px;
    font-weight: 500; 
    color: #121212;
    line-height: 32px;
    padding-top: 2%; 
    padding-left: 5.8%;
  }
  .checkout- form-container{
    display: flex;
    width: 90%; 
   
   
    
  }
  .form-cont {
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 5.8%;
    padding-top: 2%;
    
  }
  .checkout-input-field{
  height: 40px;
  width: 90%;
  border-radius: 8px;
  border: 1px solid  #121212;
  color: #411530;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 32px;
  font-size: 24px;
  font-weight: 400;
  }
  .security-container{
    display: flex;
    /* justify-content: space-between; */
    width: 90%;
    gap: 50px;
  }
  .security-field{
  height: 40px;
  width: 50%;
  border-radius: 8px;
  border: 1px solid  #121212;
  color: #411530;
   padding-top: 25px;
  padding-bottom: 25px; 
  font-size: 24px;
  font-weight: 400;
  }
  .btn-container{
    display: flex;
    padding-top: 8%;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
   
  }
  .btn{
    background-color: #411530;
    height: 100px;
    width: 30%;
    line-height: 38px;
    font-size: 32px;
    font-weight: 800;
    color:#FFFFFF ;
    border-radius: 12px;
    
  
  }
    
  