* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .product-content{
    padding-left: 6%;
    width: 100%;
  }

.upload-container{
    display: flex;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: #411530;
    padding-top: 30px;
   
    
}
.form-con {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 2%;
    padding-bottom: 2%;
     padding-left: 6%; 
  }

.product-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    
  }
  
.auth-input {
    height: 40px;
    width: 95%;
    border-radius: 8px;
    border: 1px solid #411530;
    /* padding: 16px; */
   
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 32px;
    font-size: 24px;
    font-weight: 600;
    color: #411530;
    
  }
  
  .image-click{
    display: flex;  
    width: 95%;
    height: 20%;
    border:1px dashed black;
    border-radius: 12px;
    justify-content: center; 
  }
  .click-caption{
    font-size: 28px;
    font-weight: 500;
    color: #411530;
    padding-top: 5%;
    padding-bottom: 5%;  
  } 
  
  .upload-cont{
    /* padding-top: 2%;  */
    background-color: #411530; 
    display: flex;
    width: 95%;
    height: 62px;
    border-radius: 12px;
    justify-content: center;  
  }
  .up-btn{
    background-color: #411530; 
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    width: 10%;
    height: 28px;
    border-radius: 12px;
    padding-top: 1%;
    
  }