@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

.wholee-container {
  width: 100%;
  height: 100%;
  gap: 32px;
  background-color: #fff;
}

.productt-image {
  border-radius: 16px;
  width: 380px;
  height: 330px;
}
.winecardd-container {
  color: #411530;
  background-color: #fff;
  display: flex;
  width: 1, 312px;
  height: 1, 907px;
  padding: 32px;
  gap: 64px;
  flex-wrap: wrap;
}
.titlee-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding-top: 1%;
  padding-bottom: 2%;
}
.cllearspring {
  font-size: 18px;
  width: 310px;
  height: 24px;
  font-weight: 700;
  color: #411530;
  font-family: "playfair display";
  display: flex;
  justify-content: flex-start;
  line-height: 24px;
  letter-spacing: 1%;
  align-items: center;
}
.clearspringggg {
  font-size: 12px;
  width: 310px;
  height: 24px;
  font-weight: 400;
  color: #80295e;
  font-family: "inter";
  display: flex;
  justify-content: flex-start;
  line-height: 16px;
  align-items: center;
}
.plusminus-containerr {
  display: flex;
  align-items: center;
  align-content: center;
  width: 380px;
  height: 56px;
  gap: 8px;
  border-radius: 12px;
  padding: 12px;
  background-color: #f9f6f8;
}
.minuss {
  /* display: flex; */
  background-color: #f9e3f0;
  color: #411530;
  font-weight: 700;
  font-size: 24px;
  width: 45px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding-bottom: 1%;
}
.hundrredd {
  display: flex;
  background-color: #ffffff;
  font-weight: 600;
  width: 15%;
  height: 56px;
  color: #411530;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding-bottom: 1%;
}
.pluss {
  /* display: flex; */
  background-color: #f9e3f0;
  color: #411530;
  font-weight: 600;
  font-size: 24px;
  width: 45px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding-bottom: 1%;
}
.nairaa {
  display: flex;
  width: 70%;
  height: 32px;
  color: #411530;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  line-height: 56px;
  font-size: 24px;
  padding-bottom: 1%;
}
